/* CSS styling for CraigMiller160 GitHub Page */
.page-title {
	text-align: center;
	font-weight: bold;
	margin: 0;
}

.title-block {
	margin-bottom: 20px;
}

.page-subtitle {
	text-align: center;
	margin: 0;
}

.section-header {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
}
.item {
	margin: 0px;
}
.item-title {
	font-weight: bold;
}

#stats-container {
	display: inline-block;
	vertical-align: middle;
	float: none;
	color: blue;
}

.row-section {
	margin-top: 30px;
}





.cm160-img {
	max-width: 100%;
	border: 0 none;
	margin: 0;
	padding: 0;
}

.cm160-img-caption {
	position: absolute;
	padding: 1%;
	width: 100%;
	bottom: .3rem;
	color: white;
	background-color:rgba(0, 0, 0, 0.6);
	text-align: center;
}

.cm160-img-container {
	position: relative;
	width: 100%;
}

.cm160-slideshow {
	text-align: center;
}






.col-height {
	display: table-cell;
	float: none !important;
}

.row-same-height {
	display: table;
	width: 100%;
}